<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32200">
        <setting label="32201" type="text" id="username" default=""/>
        <setting label="32202" type="text" id="password" option="hidden" enable="!eq(-1,)" default=""/>
        <setting label="32203" type="text" id="code" default=""/>
    </category>
</settings>